body{
    background: #dfdfdf;
}

#formacaoPrincipal{
    color: black;
}

#tituloPrincipal{
    color: black;
}

.fotoPrincipal{
    border: 2px solid #ffffff; /*shorthand*/
    border-radius: 50%; /*borda redonda*/
    width: 200px; /*tamando da imagem*/
    margin: 30px; /*espaçamento(margem) da imagem*/
    padding: 10px; /*espaçamento(margem) interno da imagem*/
}

p{
    color: rgb(34, 34, 34);
}
